<!DOCTYPE html>
<html>
<head>
	<title>BribeAlert</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />
	<link href="{{ STATIC_URL }}stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span9" id="content">
				<div class="hero-unit">
					Hello
				</div>
				{% block content %}	

				{% endblock %}
			</div>
			<div class="sidebar span3">
				<p style="text-align: center; padding-top: 100px;">
					<img src="{{ STATIC_URL }}img/bribealarm.png" width="150" />
					<br /><br />
					<a href="http://transparency.org/"><img src="{{ STATIC_URL }}img/transparency.png" width="180" /></a>
				</p>
			</div>
		</div>
	</div>

	<!-- javascripts at the end -->
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>