<!DOCTYPE html>
<html>
<head>
	<title>BribeAlert</title>
	<base href="{{ STATIC_URL }}" />
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
	<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container" id="content">
		<div class="worldmap"></div>
		<img src="{{ STATIC_URL }}img/bribealarm.png" id="logo" />			
		
		<div class="row" style="margin-top: 2em">
			<div class="span9">
				{% block content %}	

				{% endblock %}
			</div>
			<div class="sidebar span3">
				<p style="text-align:right;">
					<a href="" class="btn btn-primary btn-large span2" id="app-download-btn">Download<br />Android App</a>

					<br /><br /><br />
					<p style="text-align:left;padding-left: 20px;">
					
					<a href="http://transparency.org/"><img src="img/transparency.png" width="180" /></a>
					</p>
					<p class="transparency-description">
					Transparency International is a global movement with a present in more than 100 countries sharing one vision: a world in which government, business, civil society and the daily lives of people are free of corruption.</p>

				</p>
				<br />
			</div>
		</div>
	</div>

	<!-- javascripts at the end -->
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="openlayers/OpenLayers.js"></script>
	<script src="js/maps.js"></script>
	<script src="js/countryScores.js"></script>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"  type="text/javascript"></script>
</body>
</html>