<!DOCTYPE html>
<html>
<head>
	<title>BribeAlert</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css" />
	<link href="{{ STATIC_URL }}stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container" id="content">
		<div class="row">
			<div class="span9">
				<div class="hero-unit">
					Hello
				</div>
				{% block content %}	

				{% endblock %}
			</div>
			<div class="sidebar span3">
				<p style="text-align: center; padding-top: 100px;">
					<img src="{{ STATIC_URL }}img/bribealarm.png" width="150" />
					
					<a href="" class="btn btn-primary btn-large">Download Android App</a>
					<br /><br />
					<a href="http://transparency.org/"><img src="{{ STATIC_URL }}img/transparency.png" width="180" /></a>
				</p>
				<br />
				<p class="transparency-description">
				Transparency International is a global movement with a present in more than 100 countries sharing one vision: a world in which government, business, civil society and the daily lives of people are free of corruption.</p>
			</div>
		</div>
	</div>

	<!-- javascripts at the end -->
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</body>
</html>