<div class="evidence">
<h2><a href="/#bribe{{bribe.id}}" id="bribe{{bribe.id}}">Evidence #{{bribe.id}}</a></h2>


<br />

<div class="row">
	<div class="span5">		
		<p class="meta-data">{{bribe.date}}<br />
		{{bribe}}</p>
		<br />
		<audio controls="controls">
		  <source src="{{MEDIA_URL}}{{bribe.record}}" type="audio/mp4" />
		  Your browser does not support the audio element.
		</audio>
		<br /><br />
		
		<p>
			{{bribe.description|linebreaksbr}}
			<br />
			<a name="fb_share" share_url=""></a> 
		</p>
	</div>

	<div class="span4">
		<div class="detail">
			<p>This happened in <a href="http://www.transparency.org/country#{{bribe.country.code3}}"><img src="{{STATIC_URL}}img/png/{{bribe.country.code2|lower}}.png" alt="{{bribe.country.code2|lower}}" />&nbsp;{{bribe.country}}</a>.</p>
				<div data-lon="{{bribe.lon}}" data-lat="{{bribe.lat}}" data-id="bribe{{bribe.id}}"></div>

			<p>In <a href="http://www.transparency.org/country#{{bribe.country.code3}}"><img src="{{STATIC_URL}}img/png/{{bribe.country.code2|lower}}.png" alt="{{bribe.country.code2|lower}}" />&nbsp;{{bribe.country}}</a>, <b>??</b> of the people payed bribe in the last twelve months.</p>
		</div>
	</div>
</div>
</div>
